body {
  background: lightgray;
}


.dashboard-body-color {
  background-color: lightgray !important;
}

.navbar-body-color {
  background-color: #100F0F !important;
}

.navbar-content-color {
  color: white !important;
  background-color: #100F0F !important;
}

#navbar-body-height {
  height: inherit !important
}

.text {
  margin-top: 18%;
  text-align: center;
  color: #100F0F;
  font-family: 'Fira Mono', monospace;
}

.test {
  font-size: 2.5rem;
  font-family: 'Permanent Marker', cursive;
}